PODCASTINDEX_API_KEY="aaaaaaaaa"
PODCASTINDEX_API_SECRET="vvvvvvvvvvvvvvvvvvvvv"
RPODCASTINDEX_API_KEY_SCRAMBLED=dddddddddddddddddddddddddddddddddd
RPODCASTINDEX_API_SECRET_SCRAMBLED=eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
RPODCASTINDEX_KEY=bbbbbbbbbbbbbbbbbbbbbbbb